body {
//    display: grid;
//    grid-template-columns: 1fr 1fr;
// justify-content: center;
}

.card {
    border-top: solid black 2px;
    margin-left: 10rem;
    margin-top: 1rem;
    text-align: center;
    width: 80%; 
}